<section class="col s7 left card hoverable">
	<p>Demographic identity can be a sensitive discussion. All of our demographic form fields are optional, and text based, so you can enter whatever you like. </p>

	<p> If a field is not important to how you identify, feel free to leave it blank. </p>

	<p> We find that most of our users strongly identify with some aspect of their identity, so consider if this may be important to be represented in your matched mentor.
	</p>
</section>