<article class="xviews xmentees xshow container row">
		<section>  
	     <% if current_user && user_type == "mentee" && get_user.id == @mentee.id %>
		<h3>Edit Profile</h3>
		<%= render 'form'%>
	<% else %>
		<p> This page is private. </p>
	<% end %>
	    </section>
		<section class="col s7 center card hoverable">
		</section>
</article>