<article class="xviews xmentees xshow">
	<h2>My Profile</h2>

	<% if @mentee.appointments.any? %>
		<h3>Upcoming Appointments</h3>
		<% @mentee.appointments.each do |appointment| %>
			<ul>
				<li>
					<%= link_to "#{appointment.datetime}",mentee_appointment_path(appointment) %>
				</li>	
			</ul>
			
		<% end %>
<!-- put else inside cone when uncommenting <%  %> -->
		<h3>Match with a mentor</h3>
		<%= link_to "Get Matches", get_matches_mentee_path(@mentee)%>
	<% end %>
</article>

