<!-- <img src="https://cdn3.iconfinder.com/data/icons/abstract-1/512/Welcome-512.png"></img> -->
<div class="table border">
  <h1><font color="#20B2AA">Welcome to Common context,</font></h1>
  <h3>Empowering aspiring developers to connect with mentors working in the field</h3>
  <p>
    Your appointment is confirmed.<br>
    To login to the site, just follow this link:.<br>
    <a href="www.commoncontextinfo.com">www.commoncontextinfo.com</a>
  </p>
  <p>Thanks you!</p>

  Regards,<br>
  Common Context Team
</div>