
<article class="xviews xmentors xshow row">
	<% if current_user && user_type == "mentor" && get_user.id == @mentor.id %>
	<h3>Edit Profile</h3>
	<%= render 'form'%>
	<% else %>
	<p> This page is private. </p>
	<% end %>
</article>

