<article>
<% if current_user %>
<h3>Enter your details</h3>
	<% set_user_type("mentor") %>

	<%= render 'form', mentor: @mentor %>
<% else %>
<p>You must sign in with LinkedIn to start a profile.</p>

<% end %>
</article>