<article class="xviews xmentors xshow container row">
	<% if current_user && user_type == "mentor" && get_user.id == @mentor.id %>
		<section class="col s6">
			<%= render 'mentor_profile' %>
		</section>
		<section class="col s6 center card hoverable">
	    <h5><%= link_to "Add an appointment time", new_mentor_appointment_path(@mentor) %></h5>
			<% if @mentor.appointments.any? %>
				<h3>Upcoming Meetings</h3>
				<% @mentor.appointments.each do |appointment| %>
					<% if !appointment.mentee.nil?%>
						<ul>
							<li>
								<%= link_to "#{appointment.datetime.strftime("%B %e, %Y at %I:%M %p")}", mentor_appointment_path(@mentor, appointment) %> <%# with #{appointment.mentee.first_name + " " + appointment.mentee.last_name}   We should be able to clean this up.%>
							</li>
						</ul>
					<% else %>
					<p>You don't have any scheduled appointments.</p>
					<% end %>

				<% end %>

				<h3>Available Appointment Times</h3>
				<% @mentor.appointments.each do |appointment| %>
					<% if appointment.mentee.nil?%>
						<ul>
							<li>
								<%= appointment.datetime.strftime("%B %e, %Y at %I:%M %p") %>
							</li>
						</ul>
					<% end %>
				<% end %>
				<!-- maybe something here to show pending matches that need scheduling confirmation -->
			<% end %>
		</section>
	<% else %>
		<p> This profile is private. </p>
	<% end %>
</article>

<!-- include private info, ie upcoming appts and pending matches -->
<!-- render partial with public info - photo, industry, title, etc -->
