<% content_for :head do %>
    <%= stylesheet_link_tag    'application', media: 'all', 'fullcalendar.min': 'reload' %>
    
    <%= javascript_include_tag 'application', 'fullcalendar.min': 'reload' %>

    
  <script type="text/javascript">
        $(document).on("turbolinks:load", ready);
        $(document).ready(ready);


        function ready(){
            $.ajax({
              url: '/appointments',
            }).done(function (result){
              console.log(result);

              $('#calendar').fullCalendar({
                header: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'month,agendaWeek,agendaDay,listWeek'
                },
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: result,
                eventDrop: function(event, delta, revertFunc) {
                  var new_date = event.start.format('YYYY-MM-DD HH:mm:ss');
                  var id = event.id;
                  var postData = {
                    new_date: new_date,
                    appointment_id: id
                  };
                  updateAppointmentData(postData);
                }
              });
            });
        }


        function updateAppointmentData(postData) {
          $.ajax({
            url: '/appointments',
            method: 'POST',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(postData),
          }).done(function (res) {
            
          });
        }
  </script>
<% end %>

<article class="container">

  
  <div id='calendar' class="card hoverable"></div>
</article>