<h1>Mentee matches </h1>
<p>mentee_matches GET    
<p>/mentees/:mentee_id/matches(.:format)</p>           
<p>matches#index</p>


<h2>Mentee Matches</h2>
	<% @matches.each do |match| %>
		<ul>
			<li> <%= match.first_name %> </li>
		</ul>
	<% end %>
