<article class="xviews xmatches xshow">
	<h2>My Match</h2>
		<!-- TODO put some details about the match here -->
		<p>
			<%= @match.mentor.first_name %>
		</p>
		<h3>Schedule an Appointnment</h3>
		<%= link_to "Schedule Appointment", mentee_match_schedule_path(match_id: @match.id)%>
</article>