<article class="xviews xmatches xshow deets-card">
	<h2>My Match</h2>
		<!-- TODO put some details about the match here -->
		<%= render partial: "/mentees/mentor_deets_card", locals: { a_match: @match.mentor } %>

		<h3>Schedule an Appointnment</h3>

		<% if @appointments %>
			<% @appointments.each do |appointment| %>
				<!-- TODO render appt partial  -->
				<p><%= appointment.datetime %></p>
				<%= form_for appointment, url: mentee_match_schedule_path(match_id: @match.id, id: appointment.id) do |f| %>
					<%= f.submit "Book Appointment", class: "btn" %>
				<% end %>
			<% end %>
		<% end %>
		<!-- TODO nice to have: make appt request if none served -->
</article>

