<article class="xviews xappointments xshow row">
	<% if current_user && ((user_type == "mentee" && get_user.id == @appointment.mentee.id) ||  (user_type == "mentor" && get_user.id == @appointment.mentor.id)) %>
	<h3>Appointment</h3>
	<section class="card hoverable col s3">
	<% if @appointment %>
		<ul>
			<li>
				<%=	@appointment.datetime.strftime("%B %e, %Y at %I:%M %p") %>
			</li>
			<li>
				<%=	@appointment.location %>
			</li>
			<li>
				With <%= @appointment.mentor.first_name + " " + @appointment.mentor.last_name%> and <%= @appointment.mentee.first_name + " " + @appointment.mentee.last_name%>
			</li>
		</ul>
	<% end %>
	</section>
	<% else %>
	<p>You may only view your appointments.</p>
	<% end %>
</article>
