<article class="xviews xappointments xshow">
	<h2>Appointment</h2>
	<% if @appointment %>
		<ul>
			<li>
				<%=	@appointment.datetime.strftime("%B %e, %Y at %I:%M %p") %>
			</li>
			<li>
				<%=	@appointment.location %>
			</li>
			<li>
				With <%= @appointment.mentor.first_name + " " + @appointment.mentor.last_name%> and <%= @appointment.mentee.first_name + " " + @appointment.mentee.last_name%>
			</li>
		</ul>
	<% end %>
</article>
